<html>
  <head>
    <title>weiwei index yo</title>
    <link href="/ex_index.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3.3.0/dist/vue.global.js"></script>
  </head>
  <body class="box1">
    
    <div class="box1">
      <div id="main" >
          <h1 id="wei">weiwei index yo</h1>
          <h2><%= index2 %></h2>
          <button v-on:click="go_back()">To dos</button>
      </div>
    </div>
    <script src="/vue.js"></script>
  </body>
</html>